In [3]:
import pandas as pd
import numpy as np
A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

print(A)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N        None

In [4]:
B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})

print(B)

  movieCd multiMovieYn repNationCd
0    1001         None        None
1    1003            Y           F
2    1004            Y           K

In [5]:
AA = A.set_index("movieCd")
BB = B.set_index("movieCd")

In [10]:
r_df = AA.combine_first(BB)

In [11]:
print(r_df)
# movieCd multiMovieYn repNationCd
# 0    1001            Y           K
# 1    1002            Y           F
# 2    1003            N           F
# 3    1004            Y           K

        multiMovieYn repNationCd
movieCd
1001               Y           K
1002               Y           F
1003               N           F
1004               Y           K

## merge

In [21]:
merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))
merged_df["multiMovieYn"] = merged_df["multiMovieYn_A"].combine_first(merged_df["multiMovieYn_B"])
merged_df["repNationCd"] = merged_df["repNationCd_A"].combine_first(merged_df["repNationCd_B"])

In [22]:
merged_df.drop(columns=["multiMovieYn_A", "multiMovieYn_B", "repNationCd_A", "repNationCd_B"])

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K