In [4]:
import pandas as pd
import numpy as np
A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

print(A)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N        None

In [5]:
B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})

print(B)

  movieCd multiMovieYn repNationCd
0    1001         None        None
1    1003            Y           F
2    1004            Y           K

In [40]:
AA = A.set_index("movieCd")
BB = B.set_index("movieCd")

In [42]:
AA.combine_first(BB)

        multiMovieYn repNationCd
movieCd
1001               Y           K
1002               Y           F
1003               N           F
1004               Y           K

In [ ]:
print(r_df)
movieCd multiMovieYn repNationCd
# 0    1001            Y           K
# 1    1002            Y           F
# 2    1003            N           F
# 3    1004            Y           K