In [31]:
import pandas as pd

In [33]:
df_1 = pd.read_parquet("~/temp/movie/dt=20210101")
df_2 = pd.read_parquet("~/temp/movie")

In [36]:
df_1.head(1)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
0,1,1,0,OLD,20192567,원더 우먼 1984,2020-12-23,274407080,51.4,41920830,18,3764838540,29884,2462,9,420870,1877,4329

In [37]:
df_2.head(1)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt
0,1,1,0,OLD,20192567,원더 우먼 1984,2020-12-23,274407080,51.4,41920830,18,3764838540,29884,2462,9,420870,1877,4329,20210101

In [30]:
def test_save_df():
    ymd = "20210101"
    data = call_api(dt=ymd)
    df = list2df(data, ymd)
    base_path = "~/temp/movie"
    r = save_df(df, base_path)
    assert r == f"{base_path}/dt={ymd}"
    print("save_path", r)
    read_df = pd.read_parquet(r)
    assert 'dt' not in read_df.columns
    assert 'dt' in pd.read_parquet(base_path).columns

In [5]:
import pandas as pd
read_df = pd.read_parquet('/home/gmlwls5168/data/movies/dailyboxoffice/')
save_df = pd.read_parquet('/home/gmlwls5168/data/movies/merge/dailyboxoffice/dt=20240101')

In [6]:
len(read_df)

200

In [7]:
len(save_df)

98

In [9]:
read_df.tail(10)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt,multiMovieYn,repNationCd
190,1,1,1,OLD,20212866,서울의 봄,2023-11-22,428418007,47.1,-48679341,...,119567912524,45359,-4807,-9.6,12280492,1291,4030,20240104,NaN,K
191,2,2,-1,OLD,20203702,노량: 죽음의 바다,2023-12-20,414890862,45.6,-79386896,...,38492320604,44860,-8754,-16.3,3898314,1402,4111,20240104,NaN,K
192,3,3,0,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,27987535,3.1,-6354182,...,3154801180,3051,-675,-18.1,344379,201,257,20240104,NaN,K
193,4,4,0,OLD,20235253,외계+인 2부,2024-01-10,18369000,2.0,-14559000,...,51297000,2041,-1063,-34.2,5145,9,9,20240104,NaN,K
194,5,5,0,OLD,20190324,3일의 휴가,2023-12-06,7230350,0.8,-1024150,...,4892023659,895,-99,-10.0,521358,102,120,20240104,NaN,K
195,6,6,0,OLD,20235290,도티와 영원의 탑,2023-12-27,5516256,0.6,-2994403,...,535186164,597,-339,-36.2,57710,70,73,20240104,NaN,K
196,7,7,0,OLD,20202247,싱글 인 서울,2023-11-29,2224489,0.2,988611,...,3744915062,267,140,110.2,400282,7,9,20240104,NaN,K
197,8,8,0,NEW,20235353,길위에 김대중,2024-01-10,1488000,0.2,1488000,...,121277000,200,200,100.0,13581,2,2,20240104,NaN,K
198,9,9,-1,OLD,20228560,너와 나,2023-10-25,1479456,0.2,352806,...,333758409,162,36,28.6,34215,12,14,20240104,NaN,K
199,10,10,0,NEW,19580069,돈,1950-03-09,102000,0.0,102000,...,2987000,51,51,100.0,1449,1,2,20240104,NaN,K