In [31]:
import pandas as pd

In [33]:
df_1 = pd.read_parquet("~/temp/movie/dt=20210101")
df_2 = pd.read_parquet("~/temp/movie")

In [36]:
df_1.head(1)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
0,1,1,0,OLD,20192567,원더 우먼 1984,2020-12-23,274407080,51.4,41920830,18,3764838540,29884,2462,9,420870,1877,4329

In [37]:
df_2.head(1)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt
0,1,1,0,OLD,20192567,원더 우먼 1984,2020-12-23,274407080,51.4,41920830,18,3764838540,29884,2462,9,420870,1877,4329,20210101

In [30]:
def test_save_df():
    ymd = "20210101"
    data = call_api(dt=ymd)
    df = list2df(data, ymd)
    base_path = "~/temp/movie"
    r = save_df(df, base_path)
    assert r == f"{base_path}/dt={ymd}"
    print("save_path", r)
    read_df = pd.read_parquet(r)
    assert 'dt' not in read_df.columns
    assert 'dt' in pd.read_parquet(base_path).columns